{% extends "base.html" %}

{% block title %}
Celtics Detail
{% endblock %}

{% block body %}
<h1>Celtics Detail</h1>

<div>
    <h2>{{celtic.first_name}} {{celtic.last_name}}</h2>
    <img src="{{celtic.img}}" alt="{{celtic.first_name}} {{celtic.last_name}}" />
    <p>Position: {{celtic.position}}</p>
    <p>Age: {{celtic.age}}</p>
    <p>Height: {{celtic.height_in_inches}}"</p>
    <p>Weight: {{celtic.weight_in_lbs}} lbs</p>
    <p>College: {{celtic.college}}</p>
    <p>Salary: ${{celtic.salary_in_dollars}}</p>
</div>


{% endblock %}