{% extends "base.html" %}

{% block title %}
Player Detail
{% endblock %}

{% block body %}
<h1>Player Detail</h1>

<a href="{% url 'player_update' player.pk%}">Update Player</a>
<a href="{% url 'player_delete' player.pk%}">Delete Player</a>

<div>
    <h2>{{player.first_name}} {{player.last_name}}</h2>
    <img src="{{player.img}}" alt="{{player.first_name}} {{player.last_name}}" />
    <p>Current Team: {{player.team}}</p>
    <p>Former Teams: {% for team in player.former_teams.all %} {{team}} | {% endfor %}</p>
    <p>Number: {{player.number}}</p>
</div>


{% endblock %}