{% extends "base.html" %}

{% block title %}
Player Detail
{% endblock %}

{% block body %}
<h1>Player Detail</h1>

<div>
    <h2>{{player.first_name}} {{player.last_name}}</h2>
    <img src="{{player.img}}" alt="{{player.first_name}} {{player.last_name}}" />
    <p>Position: {{player.position}}</p>
    <p>Age: {{player.age}}</p>
    <p>Height: {{player.height_in_inches}}"</p>
    <p>Weight: {{player.weight_in_lbs}} lbs</p>
    <p>College: {{player.college}}</p>
    <p>Salary: ${{player.salary_in_dollars}}</p>
</div>


{% endblock %}